body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.google-maps {
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.user-profile {
  border-radius: 100%;
}
.nav-profile {
  width:20px;
  height:20px;
  border-radius: 100%;
}

/*
 *  Common
 */
.align-center {
  text-align: center;
}

/*
 *  List - main
 */
.item-1 {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background-color: #e8e8e8;
  float: left;
  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px#000;
  box-shadow: 0 0 3px #000;
}
.public-header {
    width: 100%;
    height: 120px;
    background: #7BDCE5;
    background-position: 130px 70px;
    float:left;
    text-align: left;
}
.header-blue  {
  background: #1E90FF;
}
.header-red {
  background: #FF4040;
}
.header-white {
  background: #ACACAC;
}
.public-header img {
    width:80px;
    height:80px;
    border-radius: 50%;
    border: 4px solid transparent;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 15px;
    -moz-box-shadow: 0 0 3px #fff;
    -webkit-box-shadow: 0 0 3px#fff;
    box-shadow: 0 0 3px #fff;
}
.public-header h1 {
    font-size: 22px;
    color: #fff;
    line-height: 20px;
    margin-top: 40px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    margin-bottom: 5px;
}    
.public-header p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
ul.list-style {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
ul.list-style li {
    list-style: none;
}
ul.list-style li a {
    padding: 8px 20px;
    display: inline-block;
    font-size: 13px;
    color: #999;
    background: #fafafa;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.8s ease-in-out 0s;
}
ul.list-style li a:hover {
    border-left: 5px solid #7BDCE5;
    background: #EAEAEA;
}
ul.list-style li a:hover i {
    color: #64CCD6;
}
ul.list-style li a i {
    margin-top: 3px;
}

/*
 *  List - search
 */
.item-short {
  border-bottom:1px solid #aaa;
  margin: 0 0 10px 0;
  padding-top:5px;
}
.item-short-border {
  border:1px solid #aaa;
  margin:0 0 15px;
  padding-top:5px;
  border-radius: 10px;
}
.short-left {
  display:inline-block;
  vertical-align: top;
  width:25%;
}
.short-left img {
  border-radius: 50%;
  width: 80%;
  margin-top:15px;
}
.short-name {
  margin:5px 0;
  line-height:100%;
}
.short-stars {
  color: #DB7093;
  letter-spacing: -2px;
}
.short-right {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  padding-left: 3%;
  overflow: hidden;
}
.short-table {

}
.short-table th.top,
.short-table td.top {
  border-top: none;
}
.short-table th {
  width: 70px;
}

.cal-container {
  position: relative;
  padding-bottom: 120%;
  padding-top: 30px;
  height: 0;
  overflow: auto;
}
.cal-container iframe,  
.cal-container object, 
.cal-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}